<div> <h1>search/index.html.erb</h1></div>

<%= form_with url: "/search", method: :get do |form| %>
  <%= form.label :query, "Search for:" %>
  <%= form.text_field :query %>
  <%= form.submit "Search" %>
<% end %>

<% @result.each do |result| %>
  <% video = Video.find(result) %>
    <%= video.id %>
    <%= highlight(video.title, params[:query]) %>
    <% multi_excerpt(@transcript.find_by(video_id: video.id).transcript, params[:query]).each do |excerpt|%>
        <br>   
        <p><%= params[:query] %></p>
        <p><%= excerpt[1] %></p>
        <p><%= highlight(excerpt[0], params[:query]) %></p>
        <br> 
    <% end %>
    <h1> AT THE FUCKING END </h1>
<% end %>
    