<div data-controller="perfect-scrollbar"
     class="h-full overscroll-y-contain relative lg:grid lg:grid-cols-3" 
  >
  <div class="text-center lg:col-start-2 lg:col-end-3">
    <%= form_with url: "/search", method: :get do |form| %>
      <% if params[:query] %>
        <h1 class="text-center"> DisSpell...ing ~~ <%= params[:query] %> </h1>
        <%= form.text_field :query, autofocus: true, placeholder: params[:query] %>
      <% else %>
        <h2 class="text-2xl">~~ What should we DisSpell? ~~</h2>
        <%= form.text_field :query, autofocus: true %>
      <% end %>
      <%= form.submit "Search", class: 'custom-button' %>
    <% end %>
  </div>

  <% unless @response == nil %>
    <div class="m-2 hover:divide-y-2 hover:divide-indigo-700 lg:col-start-2 lg:col-end-3">
      <% @response.each do |x| %>
        <div class="group text-gray-800 hover:text-black">
          <a href=<%= video_path(Video.find(x._source.video_id).slug) %>>
            <h1 class="pl-3 text-center group-hover:underline group-hover:underline-offset-4">
              <%= highlight(x._source.video_title, params[:query], 
                    highlighter: '<mark style="background-color:yellow";>\1</mark>') %>
            </h1>
          </a>
          <% unless x._source.transcript == nil %>
            <% video_transcript_ts = multi_excerpt(x._source.transcript,
                                                   params[:query]) %>
            <% video_transcript_ts[0].each_with_index do |part, index| %>
              <% if index < 4  %>
                <a href=<%= video_path(Video.find(x._source.video_id).slug) %>>
                  <p class="text-center hover:underline"><%= video_transcript_ts[1][index] %></p>
                  <p class="text-center hover:underline"><%= highlight(part, params[:query]) %></p>
                </a>
              <% end %>
            <% end %>
            <% if video_transcript_ts[0].count >= 5 %>
              <details class="mt-3 text-lg">
                <summary class="text-center">See More</summary>
                <% video_transcript_ts[0].each_with_index do |part, index| %>
                  <% if index > 4 %>
                    <a href=<%= video_path(Video.find(x._source.video_id).slug) %>>
                      <p class="text-center text-base hover:underline"><%= video_transcript_ts[1][index] %></p>
                      <p class="text-center text-base hover:underline"><%= highlight(part, params[:query]) %></p>
                    </a>
                  <% end %>
                <% end %>
              </details>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
  <br>
</div>
