<div class="h-full overflow-y-hidden relative" data-controller="perfect-scrollbar">
  <div>
    <% if params[:query] %>
      <h1> DisSpell ~~ <%= params[:query] %> </h1>
    <% else  %>
      <h1>~~ What should we DisSpell? ~~</h1>
      <%= form_with url: "/search", method: :get do |form| %>
        <%= form.label :query, "Search for:" %>
        <%= form.text_field :query %>
        <%= form.submit "Search", class: 'custom-button' %>
      <% end %>
    <% end %>
  </div>

  <% unless @response == nil %>
    <div> <%= @response.count %> </div>
    <% @response.each do |x| %>

      <h1 style=>TITLE: 
        <%= highlight(x._source.video_title, params[:query], 
                      highlighter: '<mark style="background-color:yellow";>\1</mark>') %>
      </h1>
      <%= button_to 'Video Transcript', video_path(Video.find(x._source.video_id).slug),
          method: :get, params: {query: params[:query]}, class: 'custom-button' %>

      <% unless x._source.transcript == nil %>
        <% video_transcript_ts = multi_excerpt(x._source.transcript,  params[:query]) %>
        <% video_transcript_ts[0].each_with_index do |part, index| %>
          <p><%= video_transcript_ts[1][index] %></p>
          <p><%= highlight(part, params[:query]) %></p>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <br>
</div>
