<%
  set_meta_tags( title: @video.title
  )
%>


<section
  class="video-parent grid h-full grid-rows-[auto_1fr] gap-4 divide-y-4 overflow-y-hidden
        lg:grid-cols-2 lg:divide-x-4 lg:divide-y-0">
  <section id="video-player" data-controller="perfect-scrollbar" 
    class="relative ml-2 mr-2 aspect-video">
    <youtube-video-wrapper videoId=<%= @meta.video_identifier %>></youtube-video-wrapper>
    <h2 class="text-lg pl-2 m-2"><%= highlight(@video.title, params[:query], highlighter: '<mark style="background-color:yellow";>\1</mark>') %></h1>
    <details class="lg:hidden">
      <summary class="text-center">Details</summary>
      <p><%= @platform.name %></p>
      <h5><%= @channel.title %></h5>
      <img src="<%= @meta.thumbnail_url %>" alt="video's thumbnail" />
      <p><%= @meta.video_identifier %></p>
      <p><%= @meta.published_date %></p>
    </details>
    <div id="video-metadata" class="hidden lg:block">
      <p><%= @platform.name %></p>
      <h5><%= @channel.title %></h5>
      <img src="<%= @meta.thumbnail_url %>" alt="video's thumbnail" />
      <p><%= @meta.video_identifier %></p>
      <p><%= @meta.published_date %></p>
    </div>
  </section>
  <section id="video-details" class="overflow-hidden grid">
    <div data-controller="search"
         class="grid lg:grid-cols-[1fr_4fr] m-3">
      <div data-search-target="times" data-search-index-value="1" data-search-count-value="0"
           class="self-center text-end pr-4"></div>
      <input type="text" data-action="input->search#updateSearch" data-search-target="search"
        value="<%= params[:query] %>"></input>
      <div class="flex justify-around col-start-2 mt-2">
        <button class="custom-button" data-action="search#prev">Prev</button>
        <button class="custom-button" data-action="search#next">Next</button>
      </div>
    </div>
    <section id="transcript" data-controller="perfect-scrollbar" 
      class="relative h-full grid grid-cols space-y-1">
      <div class="grid grid-cols space-y-1">
        <% @parts_timestramps_arrays.each do |subarray| %>
          <div data-controller="transcript" class="group/timestamp hover:shadow-xl">
            <div data-action="click->transcript#jumpToThisTime"
                 class="group/timestamp p-4 grid grid-cols-[auto_1fr] 
                        content-center divide-x-2 hover:cursor-pointer">
              <span data-transcript-target="timestamp"
                    class="self-center text-center pl-3 pr-3
                           group-hover/timestamp:underline"
                    data-vtt-timestamp="<%= subarray.first %>">
                <%= convert_vtt_timestamp(subarray.first) %>
              </span>
              <span data-transcript-text class="self-center text-start 
                                                group-hover/timestamp:underline pr-1 pl-3">
                <%= highlight(subarray.second, params[:query]) %>
              </span>
            </div>
          </div>
        <% end %>
      </div>
    </section>
  </section>
</section>

