<section class="video-parent">
  <section id="video-player">
    <youtube-video-wrapper videoId=<%= @meta.video_identifier %>></youtube-video-wrapper>
    <div id="video-metadata">
      <h1><%= highlight(@video.title, "rust") %></h1>
      <p><%= @platform.name %></p>
      <h5><%= @channel.title %></h5>
      <img src="<%= @meta.thumbnail_url %>" alt="video's thumbnail" />
      <p><%= @meta.video_identifier %></p>
      <p><%= @meta.published_date %></p>
    </div>
  </section>
  <section id="video-details">
    <section id="transcript">
      <h5>Transcript:</h5>
      <p>link: <%= @meta.url %></p>
      <p><%= @transcript.language %></p>
      <% @parts_timestramps_arrays.each do |subarray| %>
          <p><%= subarray.first %></p>
          <p onclick="jumpToThisTime(event)"><%= highlight(subarray.second, "rust") %></p>
      <% end %>
    </section>
  </section>
</section>

