<section class="video-parent grid grid-cols-2 h-full overflow-y-hidden">
  <section id="video-player" data-controller="perfect-scrollbar" class="relative pl-1.5">
    <youtube-video-wrapper videoId=<%= @meta.video_identifier %>></youtube-video-wrapper>
    <div id="video-metadata">
      <h1><%= highlight(@video.title, "rust") %></h1>
      <p><%= @platform.name %></p>
      <h5><%= @channel.title %></h5>
      <img src="<%= @meta.thumbnail_url %>" alt="video's thumbnail" />
      <p><%= @meta.video_identifier %></p>
      <p><%= @meta.published_date %></p>
    </div>
  </section>
  <section id="video-details" data-controller="perfect-scrollbar" class="relative text-center pr-1.5">
    <section id="transcript">
      <h5>Transcript:</h5>
      <p>link: <%= @meta.url %></p>
      <p><%= @transcript.language %></p>
      <% @parts_timestramps_arrays.each do |subarray| %>
        <div class="vtt" data-controller="transcript">
          <p data-action="click->transcript#jumpToThisTime" data-transcript-target="timestamp"><%= subarray.first %></p>
          <p data-action="click->transcript#jumpToThisTime"><%= highlight(subarray.second, "rust") %></p>
        </div>
      <% end %>
    </section>
  </section>
</section>

