<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: "DisSpell" %>
    <title>title DisSpell</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%2210 0 100 100%22><text y=%22.90em%22 font-size=%2290%22>🌀</text></svg>"></link>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- Font Awesome -->
    <!--
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    -->
    <!-- Google Fonts -->
    <!--
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    -->
    <!-- MDB -->
    <!--
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet">
    -->
  </head>

  <body class="grid grid-rows-[auto,1fr]">
    <%= render "layouts/header" %>
    <main class="h-full overflow-y-hidden grid grid-rows-[min-content]">
      <div class="self-center justify-self-center m-2">
        <span class="text-sm">~<span>&#x1F4DC;&#128679;</span>~ researching ancient tomes ~<span>&#128679;&#x1F4DC;</span>~</span>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
